<account-my-reward>
  <a href="{{ routes.account_url | append: '?view=clip-the-deal' }}">
    <div class="customer-rewards--wrapper">
      <div class="customer-rewards-progress-wrapper">
        <div class="customer-rewards--drops">
          <img src="{{ 'Blue.svg' | file_url }}" alt="Account Rewards">
          <div>
            <div class="customer-rewards-drops--text">{{ 'customer.account.reward.title' | t }}</div>
          </div>
        </div>
        <div class="customer-rewards--progress">
          <div class="customer-rewards-progress--complete"></div>
          <img class="customer-rewards-progress--drop" src="{{ 'account-green-drop.png' | file_url }}" alt="Green Drop">
        </div>
        <div class="customer-rewards-price--wrapper"></div>
      </div>
      <div class="customer-rewards-drops--timer"></div>
    </div>
  </a>
</account-my-reward>