<wallet-balance>
  <a style="color: #145a90" target="_blank" href="{{ routes.account_url | append: '?view=my-wallet' }}">
    <div class="customer-wallet--wrapper">
      <div class="customer-wallet--balance">
        {%- render 'svg-icons' with 'customer_wallet_balance' -%}
        <span>{{ 'customer.dashboard.current_balance' | t }}</span>
      </div>

      <div class="customer-wallet-price--wrapper">
        <span>AED</span>
        <span class="customer-wallet-price">0</span>
      </div>
    </div>
  </a>
</wallet-balance>
