<wallet-balance>
  <a style="color: #145a90" target="_blank" href="{{ routes.root_url | append: 'pages/my-wallet' }}">
    <div class="customer-wallet--wrapper">
      <div class="customer-wallet--balance">
        <img src="{{ 'account-wallet.png' | file_url }}" alt="Account Balance">
        <span>{{ 'customer.dashboard.current_balance' | t }}</span>
      </div>

      <div class="customer-wallet-price--wrapper">
        <span>AED</span>
        <span class="customer-wallet-price">0</span>
      </div>
    </div>
  </a>
</wallet-balance>
