<style>
  .popupUpdate .address_Input .address_button {    
    top: 50%;
}
</style>
 <!-- Popup content -->
              <div id="popup" class="popupUpdate">
                <!-- Input field for address -->
                <label for="addressInput">Address</label>
                  <div class="address_Input">
  <input type="text" id="addressInput" placeholder="Enter address" onkeydown="handleEnterKey(event)">
    <div class="address_button">
  <button class="clear-button" style="display:none" onclick="clearAddressInput()"><img src="https://cdn.shopify.com/s/files/1/0678/1026/3276/files/clear.png?v=1709713777"></button>

    <!-- Button to show map based on address -->
  <button type="button" class="clear-button2" id="popup-address-submit" onclick="showMapForAddress()" disabled>
   <img src="https://cdn.shopify.com/s/files/1/0678/1026/3276/files/Component_2.png?v=1709716243">
  </button>
    </div>
  </div>

                <!-- Container for the map -->
                <div id="map"></div>

                <!-- Display selected location as text -->
                <div id="locationText"></div>

                <!-- Button to show map based on address -->
                   <!-- confirm button -->
  <button type="button" class="confirm-icon" onclick="closeMapPopup()">
    Confirm Address
  </button>

  <!-- Close button -->
  <button type="button" class="close-icon" onclick="closeMapPopup()">{% render 'svg-icons' with 'map-close' %}</button>
</div>              
              <div id="locationInputError" class="form-error"></div>