<div class="cards_small_inline">
      <div class="voucher_inner_cards">
        <p class="voucher-redeemed-cards_title_main">Similar Deals</p>
        <div class="voucher-redeemed-cards_blocks_inner_main">
          <div class="voucher-redeemed-cards_blocks">
            <div class="voucher-redeemed-cards_image"><img src="https://cdn.shopify.com/s/files/1/0678/1026/3276/files/App_logo_3_10.png?v=1707945278"></div>
            <div class="voucher-redeemed-cards_info">
              <p class="voucher-redeemed-cards_title">2x Al Ain Water  5 Gallon</p>
              <p class="voucher-redeemed-cards_drops">{% render 'drop_icon' %} 10 Drops</p>
            </div>
            <a class="voucher-redeemed-card_link" href="#"></a>
          </div>

          <div class="voucher-redeemed-cards_blocks">
            <div class="voucher-redeemed-cards_image"><img src="https://cdn.shopify.com/s/files/1/0678/1026/3276/files/App_logo_3_10.png?v=1707945278"></div>
            <div class="voucher-redeemed-cards_info">
              <p class="voucher-redeemed-cards_title">2x Al Ain Water  5 Gallon</p>
              <p class="voucher-redeemed-cards_drops">{% render 'drop_icon' %} 10 Drops</p>
            </div>
            <a class="voucher-redeemed-card_link" href="#"></a>
          </div>

          <div class="voucher-redeemed-cards_blocks">
            <div class="voucher-redeemed-cards_image"><img src="https://cdn.shopify.com/s/files/1/0678/1026/3276/files/App_logo_3_10.png?v=1707945278"></div>
            <div class="voucher-redeemed-cards_info">
              <p class="voucher-redeemed-cards_title">2x Al Ain Water  5 Gallon</p>
              <p class="voucher-redeemed-cards_drops">{% render 'drop_icon' %} 10 Drops</p>
            </div>
            <a class="voucher-redeemed-card_link" href="#"></a>
          </div>

        </div>
      </div>
    </div>