{{ 'order-history.css' | asset_url | stylesheet_tag }}

<div class="breadcrumbs_order_history row">
  <a class="my_account" href="/account">My Account</a>
  <span class="current_page">> Order History</span>
</div> 

<div class="history_title">
  <div>Order History</div>
</div>
<div class="container order_history_main row">

  <table class="rwd-table">
    <tbody>
      <tr>
        <th>Order</th>
        <th>Date</th>
        <th>Payment Status</th>
        <th>Fulfillment Status</th>
        <th>Status</th>
      </tr>
      <tr>
        <td class="order_list">
          #1002
        </td>
        <td data-th="Date">
          January 29, 2024
        </td>
        <td data-th="Payment Status">
          Pending
        </td>
        <td data-th="Fulfillment Status">
          Unfulfilled
        </td>
        <td data-th="Status">
          AED 45.70
        </td>
      </tr>
      <tr>
        <td class="order_list">
          #1001
        </td>
        <td data-th="Date">
          January 27, 2024
        </td>
        <td data-th="Payment Status">
          Pending
        </td>
        <td data-th="Fulfillment Status">
         Unfulfilled
        </td>
        <td data-th="Date">
          AED 141.20
        </td>
      </tr>
      <tr>
        <td class="order_list">
          #0993
        </td>
        <td data-th="Date">
          January 25, 2024
        </td>
        <td data-th="Payment Status">
          Authorized
        </td>
        <td data-th="Fulfillment Status">
          Submitted
        </td>
        <td data-th="Status">
          AED 23.80
        </td>
      </tr>
     <tr>
        <td class="order_list">
          #0984
        </td>
        <td data-th="Date">
          January 20, 2024
        </td>
        <td data-th="Payment Status">
          Authorized
        </td>
        <td data-th="Fulfillment Status">
          Confirmed
        </td>
        <td data-th="Status">
          AED 141.20
        </td>
      </tr>
       <tr>
        <td class="order_list">
          #0984
        </td>
        <td data-th="Date">
          January 20, 2024
        </td>
        <td data-th="Payment Status">
          Authorized
        </td>
        <td data-th="Fulfillment Status">
          Confirmed
        </td>
        <td data-th="Status">
          AED 141.20
        </td>
      </tr>
       <tr>
        <td class="order_list">
          #0984
        </td>
        <td data-th="Date">
          January 20, 2024
        </td>
        <td data-th="Payment Status">
          Authorized
        </td>
        <td data-th="Fulfillment Status">
          Confirmed
        </td>
        <td data-th="Status">
          AED 141.20
        </td>
      </tr>
       <tr>
        <td class="order_list">
          #0984
        </td>
        <td data-th="Date">
          January 20, 2024
        </td>
        <td data-th="Payment Status">
          Authorized
        </td>
        <td data-th="Fulfillment Status">
          Confirmed
        </td>
        <td data-th="Status">
          AED 141.20
        </td>
      </tr>
       <tr>
        <td class="order_list">
          #0984
        </td>
        <td data-th="Date">
          January 20, 2024
        </td>
        <td data-th="Payment Status" class="payment_status_cancel">
          Cancelled
        </td>
        <td data-th="Fulfillment Status">
          Authorized
        </td>
        <td data-th="Status">
          AED 141.20
        </td>
      </tr>
       <tr>
        <td class="order_list">
          #0984
        </td>
        <td data-th="Date">
          January 20, 2024
        </td>
        <td data-th="Payment Status" class="payment_status_cancel">
          Cancelled
        </td>
        <td data-th="Fulfillment Status">
          Confirmed
        </td>
        <td data-th="Status">
          AED 141.20
        </td>
      </tr>
       <tr>
        <td class="order_list">
          #0984
        </td>
        <td data-th="Date">
          January 20, 2024
        </td>
        <td data-th="Payment Status">
          Authorized
        </td>
        <td data-th="Fulfillment Status">
          Confirmed
        </td>
        <td data-th="Status">
          AED 141.20
        </td>
      </tr>
       <tr>
        <td class="order_list">
          #0984
        </td>
        <td data-th="Date">
          January 20, 2024
        </td>
        <td data-th="Payment Status">
          Authorized
        </td>
        <td data-th="Fulfillment Status">
          Confirmed
        </td>
        <td data-th="Status">
          AED 141.20
        </td>
      </tr>
       <tr>
        <td class="order_list">
          #0984
        </td>
        <td data-th="Date">
          January 20, 2024
        </td>
        <td data-th="Payment Status">
          Authorized
        </td>
        <td data-th="Fulfillment Status">
          Confirmed
        </td>
        <td data-th="Status">
          AED 141.20
        </td>
      </tr>
       <tr>
        <td class="order_list">
          #0984
        </td>
        <td data-th="Date">
          January 20, 2024
        </td>
        <td data-th="Payment Status">
          Authorized
        </td>
        <td data-th="Fulfillment Status">
          Confirmed
        </td>
        <td data-th="Status">
          AED 141.20
        </td>
      </tr>
       <tr>
        <td class="order_list">
          #0984
        </td>
        <td data-th="Date">
          January 20, 2024
        </td>
        <td data-th="Payment Status">
          Authorized
        </td>
        <td data-th="Fulfillment Status">
          Confirmed
        </td>
        <td data-th="Status">
          AED 141.20
        </td>
      </tr>
       <tr>
        <td class="order_list">
          #0984
        </td>
        <td data-th="Date">
          January 20, 2024
        </td>
        <td data-th="Payment Status">
          Authorized
        </td>
        <td data-th="Fulfillment Status">
          Confirmed
        </td>
        <td data-th="Status">
          AED 141.20
        </td>
      </tr>
      
    </tbody>
  </table>
  
</div>
<div class="pagination_table">
  <div class="paginate_buttons">
    <a class="page_prev">{% render 'chevron-left'%}</a>
    <a class="page_number">1</a>
    <a class="page_number">2</a>
    <a class="page_number">3</a>
    <a class="page_next">{% render 'chevron-next'%}</a>
  </div>
</div>
{% schema %}
  {
    "name": "Order History",
    "settings": []
  }
{% endschema %}