<style>
  #shopify-section-{{ section.id }} .order-details-main-container{
    margin-bottom: 0;
  }
  .breadcrumbs_page {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    gap: 5px;
    margin-bottom: 50px;
  }
  .breadcrumbs_page span{
    color: #595A5E;
  }
  .breadcrumbs_page .links_breadcrumbs{
    color: #2461CC;
    text-decoration-line: underline;
  }
  .title_order_details{
    margin-bottom: 50px;
  }
  .title_order_details .order_details_title{
    color: #001489;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; 
  }
  .order_details_date{
    color: #53565A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
  }
  tbody tr th:first-child{
    max-width: 152px;
  }
  .order_details_main{
    width: 55%;
    padding-right: 50px;
  }
  .order_details_address_main{
    border-top-left-radius: 34px 34px;
    background: #EFF2F6;
    width: 45%;
    padding: 48px;
    padding-bottom: 0;
  }
  .order-details-main-container .row{
    margin-right: 0;
    padding-right: 0 !important;
    margin-left: auto;
  }
  .order_details_address_inner{
    max-width: 296px;
  }
  .title_address_second,
  .title_address_first{
    color: #1F1F20;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    margin-bottom: 38px;
  }
  .detail-ship-status,
  .detail-payment-status{
    color: #001489;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
  }
  .detail-payment-status-type,
  .detail-ship-status-type{
    color: #53565A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  .detail-shipping-status,
  .order-detaild-status{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .order_details_shipping_address,
  .order_details_billing_address{
    color: #53565A;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px; 
  }
  .order_details_billing_address{
    margin-bottom: 48px;
  }
  .order-details-main-container table {
    border-left: unset;
    border-right: unset;
  }
  .order-details-main-container table tr th{
    color: #001489;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
  }
  .order-details-main-container table th, .order-details-main-container table td{
    border: 1px solid #dadce0;
    border-left: unset;
    border-right: unset;
    max-width: 152px;
    padding: 13px;
  }
  .order_details_table .rwd-table{
    margin-bottom: 0;
  }
  .order-details-main-container table td{
    color: #53565A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
</style>

<div class="section-spacing order-details-main-container">
  <div class="breadcrumbs_page row">
    <a class="links_breadcrumbs" href="/pages/account">My Account</a>  >  <a class="links_breadcrumbs" href="{{ routes.account_url | append: '?view=order-history' }}">Order History</a>  >  <span>Order Details</span>
  </div>
  <div class="order_details_container row">
    <div class="order_details_main">
      <div class="title_order_details">
        <p class="order_details_title">Order #1012</p>
        <p class="order_details_date">Placed on February 6, 2024 at 12:46pm</p>
      </div>
      <div class="order_details_table">
  <table class="rwd-table">
    <tbody>
      <tr>
        <th>Product</th>
        <th>SKU</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
     <tr>
        <td>
          2 Bottles Free Delivery every 30 days
        </td>
        <td>
          
        </td>
        <td>
          Dhs 105.00
        </td>
        <td>
          1
        </td>
        <td>
          Dhs. 105.00
        </td>
      </tr>
       <tr>
        <td>
          Subtotal
        </td>
        <td>
          
        </td>
        <td>
        
        </td>
        <td>
       
        </td>
        <td>
          Dhs. 105.00
        </td>
      </tr>
       <tr>
        <td>
          Shipping (Standard)
        </td>
        <td>
        
        </td>
        <td>
           
        </td>
        <td>
        
        </td>
        <td>
           Dhs. 0.00
        </td>
      </tr>
       <tr>
        <td>
          Tax (VAT 5.0%)
        </td>
        <td>
           
        </td>
        <td>
           
        </td>
        <td>
           
        </td>
        <td>
          Dhs. 5.25
        </td>
      </tr>
       <tr>
        <td>
          Total
        </td>
        <td>
           
        </td>
        <td>
           
        </td>
        <td>
         
        </td>
        <td>
          Dhs. 110.25
        </td>
      </tr>
      
    </tbody>
  </table>
  
      </div>
    </div>
    <div class="order_details_address_main">
      <div class="order_details_address_inner">
        <div class="title_address_first">
        Billing Address
      </div>
      <div class="order-detaild-status">
        <span class="detail-payment-status">Payment Status</span>
        <span class="detail-payment-status-type">Authorized</span>
      </div>
      <div class="order_details_billing_address">
        Ahmed Hassan
        Sky Tower, 17th Floor, Al Reem Island, Abu Dhabi, Unite Arab Emirates
      </div>
      <div class="title_address_second">Shipping Address</div>
      <div class="detail-shipping-status">
        <span class="detail-ship-status">Fulfillment Status</span>
        <span class="detail-ship-status-type">Unfulfilled</span>
      </div>
      <div class="order_details_shipping_address">
        Ahmed Hassan
        Sky Tower, 17th Floor, Al Reem Island, Abu Dhabi, Unite Arab Emirates
      </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}