/* 20-02-24 */

.my-account__wrapper {
  position: static;
  font-size: 16px;
  color: #000;
}

.my-account__wrapper .my-accont-link {
  color: var(--color-header-links, --color-accent);
  font-size: 15px;
  text-decoration: none;
  display: block;
}

.my-account__wrapper .my-account-dropdown__wrapper {
  width: 100%;
}

.my-account__wrapper .my-account-dropdown__wrapper ul {
  top: auto;
  position: absolute;
  list-style: none;
  left: 0;
  width: 240px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02),
    0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03),
    0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04),
    0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04),
    0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  display: none;
  font-size: 13px;
  padding: 24px 16px 16px 16px;
  width: 100%;
}

.my-account__wrapper .my-account-dropdown__wrapper li {
  border-bottom: #eff2f6 solid 1px;
  text-transform: capitalize;
}

.my-account__wrapper .my-account-dropdown__wrapper li:last-child {
  border-bottom: 0;
}

.my-account__wrapper .my-account-dropdown__wrapper li a {
  padding: 8px 0;
  text-decoration: none;
  color: #2c2d2e;
  display: block;
}

.my-account__wrapper .my-account-dropdown__wrapper li a:hover,
.my-account__wrapper .my-account-dropdown__wrapper li a.active {
  color: #2461cc;
}

.my-account__wrapper .my-account-dropdown__wrapper li a:hover svg path {
  fill: #2461cc;
}

.my-account__wrapper .my-account-dropdown__wrapper li:last-child a {
  padding-bottom: 0;
}

.my-account__wrapper .my-account-dropdown__wrapper li:first-child a {
  padding-top: 0;
}

.my-account__wrapper .my-account-dropdown__wrapper svg {
  vertical-align: middle;
}

.my-account__wrapper:hover .my-accont-link {
  color: #2461cc;
}

.my-account__wrapper:hover .my-accont-link + ul {
  display: block;
}

.my-account__wrapper .my-accont-link svg.arrow-icon {
  transform: rotate(180deg);
}

.my-account__wrapper:hover .my-accont-link svg.arrow-icon {
  transform: rotate(0deg);
}

.my-account__wrapper .my-accont-link svg.arrow-icon path {
  stroke: var(--color-header-links, --color-accent);
}

.my-account__wrapper .my-accont-link svg.header-user-icon path {
  fill: var(--color-header-links, --color-accent);
}

.my-account__wrapper:hover .my-accont-link svg.arrow-icon path {
  stroke: #2461cc;
}

.my-account__wrapper:hover .my-accont-link svg.header-user-icon path {
  fill: #2461cc;
}

.my-account__wrapper .my-accont-link svg {
  margin-right: 12px;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  .thb-secondary-area {
    position: relative;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-menu-drawer
    .thb-mobile-menu-footer
    .thb-mobile-account-link
    + .thb-mobile-account-link {
    display: none;
  }
  .thb-secondary-area-item.my-account__wrapper {
    display: none;
  }
  .mobile-menu-drawer .thb-mobile-menu-footer .thb-mobile-account-logout svg {
    height: 22px;
    margin-right: 5px;
  }
  .mobile-menu-drawer .thb-mobile-menu-footer .thb-mobile-account-link {
    color: #2461cc;
  }
  .mobile-menu-drawer
    .thb-mobile-menu-footer
    .thb-mobile-account-link
    svg
    path {
    fill: #2461cc;
  }
  .mobile-menu .parent-link-back button {
    color: #2461cc;
  }
  .mobile-menu .parent-link-back button svg path {
    stroke: #2461cc;
  }

  .mobile-menu-drawer .thb-mobile-menu-footer {
      margin-top: 20px;
  }

  .mobile-menu-drawer .social-links {
      display: flex;
      justify-content: center;
      position: sticky;
      margin-top: auto;
      left: 0;
  }

  .mobile-menu-drawer .social-links li {
      margin-right: 12px;
      margin-bottom: 0;
  }

  .mobile-menu-drawer .social-links li:last-child {
      margin-right:0;
  }

  .mobile-menu-drawer .social-links li a {
      width: 56px;
      height: 56px;
      background: #EFF2F6;
      border-radius: 100%;
      color:#001489;
  }
  .mobile-menu-drawer .social-links svg path {
    fill: #001489;
}
}
