/* 20-02-24 */

.my-account__wrapper {
  position: relative;
  font-size: 16px;
  color: #000;
}

.my-account__wrapper .my-accont-link {
  color: #2461cc;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.my-account__wrapper .my-account-dropdown__wrapper {
  width: 100%;
}

.my-account__wrapper .my-account-dropdown__wrapper ul {
  top: auto;
  position: absolute;
  left: 0;
  background: #fff;
  display: none;
  font-size: 14px;
  padding: 16px;
  width: 100%;
}

.my-account__wrapper .my-account-dropdown__wrapper li {
  border-bottom: #eff2f6 solid 1px;
  text-transform: capitalize;
}

.my-account__wrapper .my-account-dropdown__wrapper li:last-child {
  border-bottom: 0;
}

.my-account__wrapper .my-account-dropdown__wrapper li a {
  padding: 10px 0;
  text-decoration: none;
  color: #2c2d2e;
  display: block;
}

.my-account__wrapper .my-account-dropdown__wrapper li a:hover {
  color: #2461cc;
}

.my-account__wrapper:hover .my-accont-link + ul {
  display: block;
}
