.breadcrumbs_order_history{
    display: flex;
    align-items; center;
    margin-top: 30px;
    gap: 5px;
    max-width: 1200px;
  }
  .breadcrumbs_order_history a{
  color: #2461CC;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration-line: underline;
  }
  .breadcrumbs_order_history span{
    color: #595A5E;
 
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
  }
  .history_title{
    max-width: 816px;
    margin-inline: auto;
    margin-top: 59px;
  }
  .history_title div{
    margin: 0;
    color: #001489;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; 
  }
  .order_history_main .rwd-table *{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  .order_history_main{
    margin-bottom: 50px;
  }

  #shopify-section-{{ section.id }}{
    padding-bottom: 100px;
  }
  .paginate_buttons a{
    padding: 5px;
    height: 35px;
  }
  .paginate_buttons a:hover {
    color: #2461CC;
    border-bottom: 1px solid #2461CC;
  }
.pagination_table{
  display: flex;
  justify-content: center;

  
}
.paginate_buttons{
  font-size: 16px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  border-radius: 10px;
}
  .paginate_buttons .page_prev,
  .paginate_buttons .page_next{
    display: flex;
    align-items: center;
  }
#shopify-section-{{ section.id }}{
  padding-left: 11px;
}
.order_history_main{
  margin-top: 30px; 
  border-radius: 8px;
  background: var(--Neutral-Off-White, #EFF2F6);
}
.order_list{
  color: #2461CC;
 
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  main-width: 80px;
}
.order_history_main tr td:nth-child(1){
  min-width: 80px;
}
.order_history_main tr td:nth-child(n+2){
    min-width: 170px;
  {% comment %} min-width: 160px; {% endcomment %}
}
{% comment %} .order_history_main [data-th="Payment Status"]{
 min-width: 150px;
} {% endcomment %}
.payment_status_cancel{
  color: #DF1515;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.order_history_main{
  display: flex !important;
  max-width: 1000px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 11px;
  overflow-x: auto;
}
.order_history_main h1{
    color: #001489;
    text-align: center;
 
    font-size: 32px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 34px;
}
.order_history_main table.rwd-table th{
    color: #001489;
 
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}
.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #EFF2F6;
  color: #001489;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #EFF2F6;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #EFF2F6;
}

{% comment %} .rwd-table th {
  display: none;
} {% endcomment %}

.rwd-table td {
  /* display: block; */
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  {% comment %} content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000; {% endcomment %}
}

.rwd-table th,
.rwd-table td {
  /* text-align: left; */
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}


/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */
body {
background: #4B79A1;
background: -webkit-linear-gradient(to left, #4B79A1 , #283E51);
background: linear-gradient(to left, #4B79A1 , #283E51);        
}
h1 {
  text-align: center;
  font-size: 2.4em;
  color: #f2f2f2;
}
.container {
  display: block;
  text-align: center;
}
h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}
h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}
h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}
@-webkit-keyframes leftRight {
  0%    { -webkit-transform: translateX(0)}
  25%   { -webkit-transform: translateX(-10px)}
  75%   { -webkit-transform: translateX(10px)}
  100%  { -webkit-transform: translateX(0)}
} 
@keyframes leftRight {
  0%    { transform: translateX(0)}
  25%   { transform: translateX(-10px)}
  75%   { transform: translateX(10px)}
  100%  { transform: translateX(0)}
}